Package: io.imkh.lookinloader
Name: LookinLoader
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: A Lookin Loader tweak
Maintainer: developer
Author: developer
Section: Tweaks
